services:
  jupyterhub:
    image: inthe/jupyter_custom
    environment:
      - ADMIN_USER=admin
    ports:
      - "8000:8000"
    volumes:
      - jupyterhub_data:/data/jupyterhub
volumes:
  jupyterhub_data:
